In [6]:
import pandas as pd 
purchase_df = pd.read_csv('Data Set/QVI_purchase_behaviour.csv')
trans_df = pd.read_csv('Data Set/QVI_transaction_data.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'Data Set/QVI_purchase_behaviour.csv'

# STEP 1: UNDERSTANDING THE PROBLEM

#### Goal of the Problem

It is **Descriptive and Diagnostic** Problem with segmentation recommendations

In [ ]:
purchase_df

       LYLTY_CARD_NBR               LIFESTAGE PREMIUM_CUSTOMER
0                1000   YOUNG SINGLES/COUPLES          Premium
1                1002   YOUNG SINGLES/COUPLES       Mainstream
2                1003          YOUNG FAMILIES           Budget
3                1004   OLDER SINGLES/COUPLES       Mainstream
4                1005  MIDAGE SINGLES/COUPLES       Mainstream
...               ...                     ...              ...
72632         2370651  MIDAGE SINGLES/COUPLES       Mainstream
72633         2370701          YOUNG FAMILIES       Mainstream
72634         2370751          YOUNG FAMILIES          Premium
72635         2370961          OLDER FAMILIES           Budget
72636         2373711   YOUNG SINGLES/COUPLES       Mainstream

[72637 rows x 3 columns]

#### Real meaning of the variables

Dataset 1: Purchase Behaviour Data (Customer Segments)

| Column Name        | Description |
|--------------------|-------------|
| `LYLTY_CARD_NBR`   | Unique customer **loyalty card number**. Identifies the customer and is used to link transactions to behavior. |
| `LIFESTAGE`        | Describes the life stage/demographic of the customer such as "YOUNG FAMILIES", "MIDAGE SINGLES/COUPLES", etc. |
| `PREMIUM_CUSTOMER` | Indicates the customer’s spending tier:<br>• **Premium** – High spender<br>• **Mainstream** – Average spender<br>• **Budget** – Price-conscious customer |

---

In [ ]:
trans_df

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,43390,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0
1,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,43329,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0
4,43330,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8
...,...,...,...,...,...,...,...,...
264831,43533,272,272319,270088,89,Kettle Sweet Chilli And Sour Cream 175g,2,10.8
264832,43325,272,272358,270154,74,Tostitos Splash Of Lime 175g,1,4.4
264833,43410,272,272379,270187,51,Doritos Mexicana 170g,2,8.8
264834,43461,272,272379,270188,42,Doritos Corn Chip Mexican Jalapeno 150g,2,7.8
264835,43365,272,272380,270189,74,Tostitos Splash Of Lime 175g,2,8.8

Dataset 2: Transaction Data (Individual Purchases)

| Column Name        | Description |
|--------------------|-------------|
| `DATE`             | Purchase date in Excel serial number format (e.g., `43390`). |
| `STORE_NBR`        | Store number where the transaction took place. |
| `LYLTY_CARD_NBR`   | Loyalty card number (same as above). |
| `TXN_ID`           | Unique transaction ID for identifying a specific purchase event. |
| `PROD_NBR`         | Internal product ID used for inventory and categorization. |
| `PROD_NAME`        | Full product name (e.g., "Smiths Crinkle Cut Chips Chicken 170g"). Includes brand, flavor, size. |
| `PROD_QTY`         | Number of units purchased of the product in a single transaction. |
| `TOT_SALES`        | Total cost for that product line in the transaction. |

---

Relationship Between the Datasets

Can join both datasets using the `LYLTY_CARD_NBR` column

#### Key Insights to Extract from the Dataset

1. **Product Popularity by Life Stage**
 
    Understand which products are most preferred by different life stages such as:
    - YOUNG FAMILIES
    - OLDER SINGLES/COUPLES
    - RETIREES

    Helps in targeted marketing — e.g., promoting family-size packs to young families or smaller snack packs to older singles.

---

2. **Product Popularity Among Premium Customers**

   Find out which products are mostly bought by **Premium** spenders vs **Budget** or **Mainstream** segments.
   Brands can:
   - Upsell premium products to high-value customers

---

3. **Sales Across Different Stores**

    Compare total sales across different `STORE_NBR`s.
 
    - Identify high-performing and underperforming stores
    - Detect location-based preferences

---

4. **Product vs Total Sales**
   
   Aggregate `TOT_SALES` for each `PROD_NAME` to determine revenue-driving products.

   - Identify bestsellers

---

5. **Life Stage vs Quantity Purchased**

   Helps in knowing which LIFESTYLE buy more.

   - Can make packages which attract a particular category to increase sales.

---

# STEP 2: CLEANING AND MERGING THE DATA

## Purchase Behaviour Data (Customer Segment)

In [ ]:
purchase_df

       LYLTY_CARD_NBR               LIFESTAGE PREMIUM_CUSTOMER
0                1000   YOUNG SINGLES/COUPLES          Premium
1                1002   YOUNG SINGLES/COUPLES       Mainstream
2                1003          YOUNG FAMILIES           Budget
3                1004   OLDER SINGLES/COUPLES       Mainstream
4                1005  MIDAGE SINGLES/COUPLES       Mainstream
...               ...                     ...              ...
72632         2370651  MIDAGE SINGLES/COUPLES       Mainstream
72633         2370701          YOUNG FAMILIES       Mainstream
72634         2370751          YOUNG FAMILIES          Premium
72635         2370961          OLDER FAMILIES           Budget
72636         2373711   YOUNG SINGLES/COUPLES       Mainstream

[72637 rows x 3 columns]

In [ ]:
purchase_df['LIFESTAGE'] = purchase_df['LIFESTAGE'].str.title()

Check for missing values

In [ ]:
purchase_df.isnull().sum()

LYLTY_CARD_NBR      0
LIFESTAGE           0
PREMIUM_CUSTOMER    0
dtype: int64

Checking Datatype

In [ ]:
purchase_df.dtypes

LYLTY_CARD_NBR       int64
LIFESTAGE           object
PREMIUM_CUSTOMER    object
dtype: object

Checking for duplicates

In [ ]:
print(purchase_df["LYLTY_CARD_NBR"].value_counts())

LYLTY_CARD_NBR
1000       1
181211     1
181217     1
181216     1
181215     1
          ..
88126      1
88127      1
88128      1
88129      1
2373711    1
Name: count, Length: 72637, dtype: int64

In [ ]:
purchase_df = purchase_df.drop_duplicates(keep='last')

Checking the values in categorical columns

In [ ]:
# Filter columns with dtype 'object'
object_columns = purchase_df.select_dtypes(include='object')

# Print unique values for each object column
for col in object_columns.columns:
    print(f"\nColumn: {col}")
    print(purchase_df[col].unique())

Column: LIFESTAGE
['Young Singles/Couples' 'Young Families' 'Older Singles/Couples'
 'Midage Singles/Couples' 'New Families' 'Older Families' 'Retirees']

Column: PREMIUM_CUSTOMER
['Premium' 'Mainstream' 'Budget']

To get the better insight, I split the LIFESTYLE column into AGE_GROUP and FAMILY_STATUS

- AGE_GROUP will contain Young, older and midage

- FAMILY_STATUS will contain Singles/Couples, Families, Retirees

In [ ]:
import numpy as np

# Create empty columns
purchase_df['AGE_GROUP'] = np.nan
purchase_df['FAMILY_STATUS'] = np.nan

# Case 1: For 'RETIREES'
mask_retirees = purchase_df['LIFESTAGE'] == 'Retirees'
purchase_df.loc[mask_retirees, 'FAMILY_STATUS'] = 'Retirees'

# Case 2: For others (split into age group and family status)
mask_others = ~mask_retirees
split_df = purchase_df.loc[mask_others, 'LIFESTAGE'].str.split(' ', n=1, expand=True)

# Assign the split parts
purchase_df.loc[mask_others, 'AGE_GROUP'] = split_df[0]
purchase_df.loc[mask_others, 'FAMILY_STATUS'] = split_df[1]

In [ ]:
purchase_df

,LYLTY_CARD_NBR,LIFESTAGE,PREMIUM_CUSTOMER,AGE_GROUP,FAMILY_STATUS
0,1000,Young Singles/Couples,Premium,Young,Singles/Couples
1,1002,Young Singles/Couples,Mainstream,Young,Singles/Couples
2,1003,Young Families,Budget,Young,Families
3,1004,Older Singles/Couples,Mainstream,Older,Singles/Couples
4,1005,Midage Singles/Couples,Mainstream,Midage,Singles/Couples
...,...,...,...,...,...
72632,2370651,Midage Singles/Couples,Mainstream,Midage,Singles/Couples
72633,2370701,Young Families,Mainstream,Young,Families
72634,2370751,Young Families,Premium,Young,Families
72635,2370961,Older Families,Budget,Older,Families
72636,2373711,Young Singles/Couples,Mainstream,Young,Singles/Couples

In [ ]:
purchase_df.isnull().sum()

LYLTY_CARD_NBR          0
LIFESTAGE               0
PREMIUM_CUSTOMER        0
AGE_GROUP           14805
FAMILY_STATUS           0
dtype: int64

In [ ]:
purchase_df["AGE_GROUP"] = purchase_df["AGE_GROUP"].fillna("RETIRED")

In [ ]:
purchase_df.isnull().sum()

LYLTY_CARD_NBR      0
LIFESTAGE           0
PREMIUM_CUSTOMER    0
AGE_GROUP           0
FAMILY_STATUS       0
dtype: int64

## Transaction Data

In [ ]:
trans_df

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,43390,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0
1,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,43329,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0
4,43330,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8
...,...,...,...,...,...,...,...,...
264831,43533,272,272319,270088,89,Kettle Sweet Chilli And Sour Cream 175g,2,10.8
264832,43325,272,272358,270154,74,Tostitos Splash Of Lime 175g,1,4.4
264833,43410,272,272379,270187,51,Doritos Mexicana 170g,2,8.8
264834,43461,272,272379,270188,42,Doritos Corn Chip Mexican Jalapeno 150g,2,7.8
264835,43365,272,272380,270189,74,Tostitos Splash Of Lime 175g,2,8.8

Checking for missing values

In [ ]:
trans_df.isnull().sum()

DATE              0
STORE_NBR         0
LYLTY_CARD_NBR    0
TXN_ID            0
PROD_NBR          0
PROD_NAME         0
PROD_QTY          0
TOT_SALES         0
dtype: int64

Checking for duplicates

In [ ]:
trans_df.shape

(264836, 8)

In [ ]:
trans_df = trans_df.drop_duplicates(keep='last')

In [ ]:
trans_df.shape

(264835, 8)

Checking datatypes

In [ ]:
trans_df.dtypes

DATE                int64
STORE_NBR           int64
LYLTY_CARD_NBR      int64
TXN_ID              int64
PROD_NBR            int64
PROD_NAME          object
PROD_QTY            int64
TOT_SALES         float64
dtype: object

Date should be in DateTime not in int

In [ ]:
trans_df['DATE'] = pd.to_datetime(
    trans_df['DATE'],
    origin='1899-12-30',
    unit='D'
).dt.date

trans_df['DATE'] = pd.to_datetime(trans_df['DATE'])

C:\Users\HP\AppData\Local\Temp\ipykernel_23188\17482334.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trans_df['DATE'] = pd.to_datetime(
C:\Users\HP\AppData\Local\Temp\ipykernel_23188\17482334.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trans_df['DATE'] = pd.to_datetime(trans_df['DATE'])

In [ ]:
trans_df

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,2018-10-17,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0
1,2019-05-14,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,2019-05-20,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,2018-08-17,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0
4,2018-08-18,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8
...,...,...,...,...,...,...,...,...
264831,2019-03-09,272,272319,270088,89,Kettle Sweet Chilli And Sour Cream 175g,2,10.8
264832,2018-08-13,272,272358,270154,74,Tostitos Splash Of Lime 175g,1,4.4
264833,2018-11-06,272,272379,270187,51,Doritos Mexicana 170g,2,8.8
264834,2018-12-27,272,272379,270188,42,Doritos Corn Chip Mexican Jalapeno 150g,2,7.8
264835,2018-09-22,272,272380,270189,74,Tostitos Splash Of Lime 175g,2,8.8

In [ ]:
print(trans_df["PROD_NAME"].unique())
print(trans_df["PROD_NAME"].nunique())

['Natural Chip        Compny SeaSalt175g' 'CCs Nacho Cheese    175g'
 'Smiths Crinkle Cut  Chips Chicken 170g'
 'Smiths Chip Thinly  S/Cream&Onion 175g'
 'Kettle Tortilla ChpsHny&Jlpno Chili 150g'
 'Old El Paso Salsa   Dip Tomato Mild 300g'
 'Smiths Crinkle Chips Salt & Vinegar 330g'
 'Grain Waves         Sweet Chilli 210g'
 'Doritos Corn Chip Mexican Jalapeno 150g'
 'Grain Waves Sour    Cream&Chives 210G'
 'Kettle Sensations   Siracha Lime 150g' 'Twisties Cheese     270g'
 'WW Crinkle Cut      Chicken 175g' 'Thins Chips Light&  Tangy 175g'
 'CCs Original 175g' 'Burger Rings 220g'
 'NCC Sour Cream &    Garden Chives 175g'
 'Doritos Corn Chip Southern Chicken 150g' 'Cheezels Cheese Box 125g'
 'Smiths Crinkle      Original 330g'
 'Infzns Crn Crnchers Tangy Gcamole 110g'
 'Kettle Sea Salt     And Vinegar 175g'
 'Smiths Chip Thinly  Cut Original 175g' 'Kettle Original 175g'
 'Red Rock Deli Thai  Chilli&Lime 150g' 'Pringles Sthrn FriedChicken 134g'
 'Pringles Sweet&Spcy BBQ 134g' 'Red Rock Deli SR    Salsa & Mzzrlla 150g'
 'Thins Chips         Originl saltd 175g'
 'Red Rock Deli Sp    Salt & Truffle 150G'
 'Smiths Thinly       Swt Chli&S/Cream175G' 'Kettle Chilli 175g'
 'Doritos Mexicana    170g' 'Smiths Crinkle Cut  French OnionDip 150g'
 'Natural ChipCo      Hony Soy Chckn175g'
 'Dorito Corn Chp     Supreme 380g' 'Twisties Chicken270g'
 'Smiths Thinly Cut   Roast Chicken 175g'
 'Smiths Crinkle Cut  Tomato Salsa 150g'
 'Kettle Mozzarella   Basil & Pesto 175g'
 'Infuzions Thai SweetChili PotatoMix 110g'
 'Kettle Sensations   Camembert & Fig 150g'
 'Smith Crinkle Cut   Mac N Cheese 150g'
 'Kettle Honey Soy    Chicken 175g' 'Thins Chips Seasonedchicken 175g'
 'Smiths Crinkle Cut  Salt & Vinegar 170g'
 'Infuzions BBQ Rib   Prawn Crackers 110g'
 'GrnWves Plus Btroot & Chilli Jam 180g'
 'Tyrrells Crisps     Lightly Salted 165g'
 'Kettle Sweet Chilli And Sour Cream 175g'
 'Doritos Salsa       Medium 300g' 'Kettle 135g Swt Pot Sea Salt'
 'Pringles SourCream  Onion 134g' 'Doritos Corn Chips  Original 170g'
 'Twisties Cheese     Burger 250g'
 'Old El Paso Salsa   Dip Chnky Tom Ht300g'
 'Cobs Popd Swt/Chlli &Sr/Cream Chips 110g'
 'Woolworths Mild     Salsa 300g'
 'Natural Chip Co     Tmato Hrb&Spce 175g'
 'Smiths Crinkle Cut  Chips Original 170g'
 'Cobs Popd Sea Salt  Chips 110g'
 'Smiths Crinkle Cut  Chips Chs&Onion170g'
 'French Fries Potato Chips 175g'
 'Old El Paso Salsa   Dip Tomato Med 300g'
 'Doritos Corn Chips  Cheese Supreme 170g'
 'Pringles Original   Crisps 134g' 'RRD Chilli&         Coconut 150g'
 'WW Original Corn    Chips 200g' 'Thins Potato Chips  Hot & Spicy 175g'
 'Cobs Popd Sour Crm  &Chives Chips 110g'
 'Smiths Crnkle Chip  Orgnl Big Bag 380g'
 'Doritos Corn Chips  Nacho Cheese 170g'
 'Kettle Sensations   BBQ&Maple 150g' 'WW D/Style Chip     Sea Salt 200g'
 'Pringles Chicken    Salt Crips 134g' 'WW Original Stacked Chips 160g'
 'Smiths Chip Thinly  CutSalt/Vinegr175g' 'Cheezels Cheese 330g'
 'Tostitos Lightly    Salted 175g' 'Thins Chips Salt &  Vinegar 175g'
 'Smiths Crinkle Cut  Chips Barbecue 170g' 'Cheetos Puffs 165g'
 'RRD Sweet Chilli &  Sour Cream 165g' 'WW Crinkle Cut      Original 175g'
 'Tostitos Splash Of  Lime 175g' 'Woolworths Medium   Salsa 300g'
 'Kettle Tortilla ChpsBtroot&Ricotta 150g' 'CCs Tasty Cheese    175g'
 'Woolworths Cheese   Rings 190g' 'Tostitos Smoked     Chipotle 175g'
 'Pringles Barbeque   134g' 'WW Supreme Cheese   Corn Chips 200g'
 'Pringles Mystery    Flavour 134g'
 'Tyrrells Crisps     Ched & Chives 165g'
 'Snbts Whlgrn Crisps Cheddr&Mstrd 90g' 'Cheetos Chs & Bacon Balls 190g'
 'Pringles Slt Vingar 134g' 'Infuzions SourCream&Herbs Veg Strws 110g'
 'Kettle Tortilla ChpsFeta&Garlic 150g'
 'Infuzions Mango     Chutny Papadums 70g'
 'RRD Steak &         Chimuchurri 150g' 'RRD Honey Soy       Chicken 165g'
 'Sunbites Whlegrn    Crisps Frch/Onin 90g' 'RRD Salt & Vinegar  165g'
 'Doritos Cheese      Supreme 330g' 'Smiths Crinkle Cut  Snag&Sauce 150g'
 'WW Sour Cream &OnionStacked Chips 160g' 'RRD Lime & Pepper   165g'
 'Natural ChipCo Sea  Salt & Vinegr 175g'
 'Red Rock Deli Chikn&Garlic Aioli 150g'
 'RRD SR Slow Rst     Pork Belly 150g' 'RRD Pc Sea Salt     165g'
 'Smith Crinkle Cut   Bolognese 150g' 'Doritos Salsa Mild  300g']
114

Product name have typos and is inconsistent

It is mix of **brandname + Flavor + weight**

For better insights, can be made three different columns

Correcting typos

In [ ]:
import re

trans_df['PROD_NAME'] = trans_df['PROD_NAME'].str.replace(r'\s+', ' ', regex=True).str.strip()

# Step 2: Replace known typos
replacements = {
    'Compny': 'Company',
    'Companympany': 'Company',
    'Crn Crnchers': 'Corn Crunchers',
    'Crnkle': 'Crinkle',
    'Crnkle Cut': 'Crinkle Cut',
    'Crnkle Chip': 'Crinkle Cut',
    'Crinkle Chip': 'Crinkle Cut',
    'Orgnl': 'Original',
    'Originl': 'Original',
    'OriginalBig Bag': 'Original Big Bag',
    'Chikn': 'Chicken',
    'Chckn': 'Chicken',
    'ChpsHny&Jlpno': 'Chips Honey & Jalapeno',
    'ChpsBtroot&Ricotta': 'Chips Beetroot & Ricotta',
    'ChpsFeta&Garlic': 'Chips Feta & Garlic',
    'Swt Chli&S/Cream175G': 'Sweet Chilli & Sour Cream 175g',
    'Swt/Chlli &Sr/Cream': 'Sweet Chilli & Sour Cream',
    'Seasonedchicken': 'Seasoned Chicken',
    'Tmato Hrb&Spce': 'Tomato Herb & Spice',
    'Tangy Gcamole': 'Tangy Guacamole',
    'Tangy Guacamole': 'Tangy Guacamole',
    'Chutny': 'Chutney',
    'Cheddr&Mstrd': 'Cheddar & Mustard',
    'Ched & Chives': 'Cheddar & Chives',
    'BBQ Rib': 'BBQ Ribs',
    'BBQ Ribss': 'BBQ Ribs',
    'OnionStacked': 'Onion Stacked',
    'Pc Sea Salt': 'Sea Salt',
    'Slt Vingar': 'Salt Vinegar',
    'Salt/Vinegr': 'Salt & Vinegar',
    'Salt & Vinegr': 'Salt & Vinegar',
    'SR Slow Rst': 'Slow Roasted',
    'Slow Rst Pork Belly': 'Slow Roasted Pork Belly',
    'Frch/Onin': 'French Onion',
    'French OnionDip': 'French Onion Dip',
    'Whlegrn': 'Wholegrain',
    'Wholegrain': 'Wholegrain', 
    'Chnky Tom Ht300g': 'Chunky Tomato Hot 300g',
    'Chunky Tomato Hot': 'Chunky Tomato Hot',
    'Med': 'Medium',
    'Mediumiumium': 'Medium',
    'Mediumium': 'Medium',
    'Honey Soy Chicken175g': 'Honey Soy Chicken 175g',
    'Hony': 'Honey',
    'Hony Soy': 'Honey Soy',
    'Thins Chips': 'Thins',
    'Thins Potato Chips': 'Thins',
    'Smith Crinkle Cut': 'Smiths Crinkle Cut',
    'Smiths Chip Thinly': 'Smiths Thinly Cut',
    'Smiths Chip Thinly CutSalt/Vinegr': 'Smiths Thinly Cut Salt & Vinegar',
    'GrnWves': 'Grain Waves',
    'GrainWves': 'Grain Waves',
    'RRD': 'Red Rock Deli',
    'Snbts': 'Sunbites',
    'Sunbites': 'Sunbites',
    'Chps': 'Chips',
    'Chp': 'Chip',
    'Crips': 'Crisps',
    'Swt Pot': 'Sweet Potato',
    'Nacho Cheese170g': 'Nacho Cheese 170g',
    'Supreme380g': 'Supreme 380g',
    'Cheddar&Mstrd': 'Cheddar & Mustard',
    'SeaSalt': 'Sea Salt',
    'Light& Tangy': 'Light & Tangy',
    'Light &Tangy': 'Light & Tangy',
    'Salt/Vinegr': 'Salt & Vinegar',
    'Original saltd': 'Original Salted',
    'OnionDip': 'Onion Dip',
    'Seasonedchicken': 'Seasoned Chicken',
    'Mzzrlla': 'Mozzarella',
    'Btroot': 'Beetroot',
    'Chs&Onion': 'Cheese & Onion',
    'Tom Ht': 'Tomato Hot',
    'Tomato Med': 'Tomato Medium',
    'OriginalBig Bag': 'Original Big Bag',
    'Mystery Flavour': 'Mystery Flavour',
    'FriedChicken': 'Fried Chicken',
    'Chimuchurri': 'Chimichurri',
    'Mediumiumium': 'Medium',
    'Mediumium': 'Medium',
    'SourCream&Herbs': 'Sour Cream & Herbs',
    'Sour Crm &Chives': 'Sour Cream & Chives',
    'Salt Crips': 'Salt Crisps',
    'Crinkle Cut Mac N Cheese': 'Crinkle Cut Mac N Cheese',
    'Infzns':'Infuzions', 
    'Natural ChipCo' : 'Natural Chip Company',
    'Dorito': 'Doritos',
    'Doritoss': 'Doritos', 
    'Natural Chip Co' : 'Natural Chip Company',
    'Natural Chip Companympany' : 'Natural Chip Company'
}


for wrong, correct in replacements.items():
    trans_df['PROD_NAME'] = trans_df['PROD_NAME'].str.replace(wrong, correct, regex=False)

C:\Users\HP\AppData\Local\Temp\ipykernel_23188\3160802690.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trans_df['PROD_NAME'] = trans_df['PROD_NAME'].str.replace(r'\s+', ' ', regex=True).str.strip()
C:\Users\HP\AppData\Local\Temp\ipykernel_23188\3160802690.py:101: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trans_df['PROD_NAME'] = trans_df['PROD_NAME'].str.replace(wrong, correct, regex=False)

In [ ]:
trans_df

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,2018-10-17,1,1000,1,5,Natural Chip Company Sea Salt175g,2,6.0
1,2019-05-14,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,2019-05-20,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,2018-08-17,2,2373,974,69,Smiths Thinly Cut S/Cream&Onion 175g,5,15.0
4,2018-08-18,2,2426,1038,108,Kettle Tortilla Chips Honey & Jalapeno Chili 150g,3,13.8
...,...,...,...,...,...,...,...,...
264831,2019-03-09,272,272319,270088,89,Kettle Sweet Chilli And Sour Cream 175g,2,10.8
264832,2018-08-13,272,272358,270154,74,Tostitos Splash Of Lime 175g,1,4.4
264833,2018-11-06,272,272379,270187,51,Doritos Mexicana 170g,2,8.8
264834,2018-12-27,272,272379,270188,42,Doritos Corn Chip Mexican Jalapeno 150g,2,7.8
264835,2018-09-22,272,272380,270189,74,Tostitos Splash Of Lime 175g,2,8.8

In [ ]:
print(trans_df["PROD_NAME"].unique())

['Natural Chip Company Sea Salt175g' 'CCs Nacho Cheese 175g'
 'Smiths Crinkle Cut Chips Chicken 170g'
 'Smiths Thinly Cut S/Cream&Onion 175g'
 'Kettle Tortilla Chips Honey & Jalapeno Chili 150g'
 'Old El Paso Salsa Dip Tomato Mild 300g'
 'Smiths Crinkle Cuts Salt & Vinegar 330g' 'Grain Waves Sweet Chilli 210g'
 'Doritos Corn Chip Mexican Jalapeno 150g'
 'Grain Waves Sour Cream&Chives 210G'
 'Kettle Sensations Siracha Lime 150g' 'Twisties Cheese 270g'
 'WW Crinkle Cut Chicken 175g' 'Thins Light & Tangy 175g'
 'CCs Original 175g' 'Burger Rings 220g'
 'NCC Sour Cream & Garden Chives 175g'
 'Doritos Corn Chip Southern Chicken 150g' 'Cheezels Cheese Box 125g'
 'Smiths Crinkle Original 330g'
 'Infuzions Corn Crunchers Tangy Guacamole 110g'
 'Kettle Sea Salt And Vinegar 175g' 'Smiths Thinly Cut Cut Original 175g'
 'Kettle Original 175g' 'Red Rock Deli Thai Chilli&Lime 150g'
 'Pringles Sthrn Fried Chicken 134g' 'Pringles Sweet&Spcy BBQ 134g'
 'Red Rock Deli SR Salsa & Mozzarella 150g' 'Thins Original Salted 175g'
 'Red Rock Deli Sp Salt & Truffle 150G'
 'Smiths Thinly Sweet Chilli & Sour Cream 175g' 'Kettle Chilli 175g'
 'Doritos Mexicana 170g' 'Smiths Crinkle Cut French Onion Dip 150g'
 'Natural Chip Company Honey Soy Chicken175g'
 'Doritos Corn Chip Supreme 380g' 'Twisties Chicken270g'
 'Smiths Thinly Cut Roast Chicken 175g'
 'Smiths Crinkle Cut Tomato Salsa 150g'
 'Kettle Mozzarella Basil & Pesto 175g'
 'Infuzions Thai SweetChili PotatoMix 110g'
 'Kettle Sensations Camembert & Fig 150g'
 'Smiths Crinkle Cut Mac N Cheese 150g' 'Kettle Honey Soy Chicken 175g'
 'Thins Seasoned Chicken 175g' 'Smiths Crinkle Cut Salt & Vinegar 170g'
 'Infuzions BBQ Ribs Prawn Crackers 110g'
 'Grain Waves Plus Beetroot & Chilli Jam 180g'
 'Tyrrells Crisps Lightly Salted 165g'
 'Kettle Sweet Chilli And Sour Cream 175g' 'Doritos Salsa Medium 300g'
 'Kettle 135g Sweet Potato Sea Salt' 'Pringles SourCream Onion 134g'
 'Doritos Corn Chips Original 170g' 'Twisties Cheese Burger 250g'
 'Old El Paso Salsa Dip Chunky Tomato Hot 300g'
 'Cobs Popd Sweet Chilli & Sour Cream Chips 110g'
 'Woolworths Mild Salsa 300g'
 'Natural Chip Company Tomato Herb & Spice 175g'
 'Smiths Crinkle Cut Chips Original 170g' 'Cobs Popd Sea Salt Chips 110g'
 'Smiths Crinkle Cut Chips Cheese & Onion170g'
 'French Fries Potato Chips 175g'
 'Old El Paso Salsa Dip Tomato Mediumium 300g'
 'Doritos Corn Chips Cheese Supreme 170g' 'Pringles Original Crisps 134g'
 'Red Rock Deli Chilli& Coconut 150g' 'WW Original Corn Chips 200g'
 'Thins Hot & Spicy 175g' 'Cobs Popd Sour Cream & Chives Chips 110g'
 'Smiths Crinkle Cut Original Big Bag 380g'
 'Doritos Corn Chips Nacho Cheese 170g' 'Kettle Sensations BBQ&Maple 150g'
 'WW D/Style Chip Sea Salt 200g' 'Pringles Chicken Salt Crisps 134g'
 'WW Original Stacked Chips 160g'
 'Smiths Thinly Cut CutSalt & Vinegar175g' 'Cheezels Cheese 330g'
 'Tostitos Lightly Salted 175g' 'Thins Salt & Vinegar 175g'
 'Smiths Crinkle Cut Chips Barbecue 170g' 'Cheetos Puffs 165g'
 'Red Rock Deli Sweet Chilli & Sour Cream 165g'
 'WW Crinkle Cut Original 175g' 'Tostitos Splash Of Lime 175g'
 'Woolworths Medium Salsa 300g'
 'Kettle Tortilla Chips Beetroot & Ricotta 150g' 'CCs Tasty Cheese 175g'
 'Woolworths Cheese Rings 190g' 'Tostitos Smoked Chipotle 175g'
 'Pringles Barbeque 134g' 'WW Supreme Cheese Corn Chips 200g'
 'Pringles Mystery Flavour 134g' 'Tyrrells Crisps Cheddar & Chives 165g'
 'Sunbites Whlgrn Crisps Cheddar & Mustard 90g'
 'Cheetos Chs & Bacon Balls 190g' 'Pringles Salt Vinegar 134g'
 'Infuzions Sour Cream & Herbs Veg Strws 110g'
 'Kettle Tortilla Chips Feta & Garlic 150g'
 'Infuzions Mango Chutney Papadums 70g'
 'Red Rock Deli Steak & Chimichurri 150g'
 'Red Rock Deli Honey Soy Chicken 165g'
 'Sunbites Wholegrain Crisps French Onion 90g'
 'Red Rock Deli Salt & Vinegar 165g' 'Doritos Cheese Supreme 330g'
 'Smiths Crinkle Cut Snag&Sauce 150g'
 'WW Sour Cream &Onion Stacked Chips 160g'
 'Red Rock Deli Lime & Pepper 165g'
 'Natural Chip Company Sea Salt & Vinegar 175g'
 'Red Rock Deli Chicken&Garlic Aioli 150g'
 'Red Rock Deli Slow Roasted Pork Belly 150g'
 'Red Rock Deli Sea Salt 165g' 'Smiths Crinkle Cut Bolognese 150g'
 'Doritos Salsa Mild 300g']

In [ ]:
trans_df['PROD_NAME'] = trans_df['PROD_NAME'].str.replace(r'\s+', ' ', regex=True).str.strip()

C:\Users\HP\AppData\Local\Temp\ipykernel_23188\624741088.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trans_df['PROD_NAME'] = trans_df['PROD_NAME'].str.replace(r'\s+', ' ', regex=True).str.strip()

Extract Weight

In [ ]:
# Extract weight with 'g' or 'G'
trans_df['WEIGHT'] = trans_df['PROD_NAME'].str.extract(r'(\d{2,4}[gG])', expand=False)

# Remove the weight from product name and clean up the rest
trans_df['NO_WEIGHT'] = trans_df['PROD_NAME'].str.replace(r'\d{2,4}[gG]', '', regex=True).str.strip()

C:\Users\HP\AppData\Local\Temp\ipykernel_23188\943940521.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trans_df['WEIGHT'] = trans_df['PROD_NAME'].str.extract(r'(\d{2,4}[gG])', expand=False)
C:\Users\HP\AppData\Local\Temp\ipykernel_23188\943940521.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trans_df['NO_WEIGHT'] = trans_df['PROD_NAME'].str.replace(r'\d{2,4}[gG]', '', regex=True).str.strip()

Extract Brand

In [ ]:
brand_list = [
    'Smiths', 'Natural Chip Company', 'Kettle', 'Red Rock Deli', 'Doritos',
    'Twisties', 'Old El Paso', 'Grain Waves', 'CCs', 'Thins', 'Pringles',
    'Cobs', 'Tostitos', 'Cheezels', 'Infuzions', 'Tyrrells', 'Snbts',
    'Sunbites', 'Cheetos', 'Woolworths', 'WW', 'NCC', 'RRD', 'French Fries','Burger Rings'
    
]    

def extract_brand(product_name):
    for brand in sorted(brand_list, key=len, reverse=True):
        if product_name.strip().startswith(brand):
            return brand
    return 'Unknown'


trans_df['BRAND'] = trans_df['NO_WEIGHT'].apply(extract_brand)

C:\Users\HP\AppData\Local\Temp\ipykernel_23188\53823019.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trans_df['BRAND'] = trans_df['NO_WEIGHT'].apply(extract_brand)

In [ ]:
len(trans_df[trans_df['BRAND'] == 'Unknown'])

0

Extract Flavor

In [ ]:
trans_df['FLAVOR'] = trans_df.apply(lambda row: row['NO_WEIGHT'].replace(row['BRAND'], '').strip(), axis=1)

C:\Users\HP\AppData\Local\Temp\ipykernel_23188\422548400.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trans_df['FLAVOR'] = trans_df.apply(lambda row: row['NO_WEIGHT'].replace(row['BRAND'], '').strip(), axis=1)

In [ ]:
trans_df.loc[trans_df['BRAND'] == 'Burger Rings', 'FLAVOR'] = 'Burger Rings'

In [ ]:
trans_df.drop(columns=['NO_WEIGHT'], inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_23188\3770478242.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trans_df.drop(columns=['NO_WEIGHT'], inplace=True)

In [ ]:
trans_df

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,WEIGHT,BRAND,FLAVOR
0,2018-10-17,1,1000,1,5,Natural Chip Company Sea Salt175g,2,6.0,175g,Natural Chip Company,Sea Salt
1,2019-05-14,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3,175g,CCs,Nacho Cheese
2,2019-05-20,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9,170g,Smiths,Crinkle Cut Chips Chicken
3,2018-08-17,2,2373,974,69,Smiths Thinly Cut S/Cream&Onion 175g,5,15.0,175g,Smiths,Thinly Cut S/Cream&Onion
4,2018-08-18,2,2426,1038,108,Kettle Tortilla Chips Honey & Jalapeno Chili 150g,3,13.8,150g,Kettle,Tortilla Chips Honey & Jalapeno Chili
...,...,...,...,...,...,...,...,...,...,...,...
264831,2019-03-09,272,272319,270088,89,Kettle Sweet Chilli And Sour Cream 175g,2,10.8,175g,Kettle,Sweet Chilli And Sour Cream
264832,2018-08-13,272,272358,270154,74,Tostitos Splash Of Lime 175g,1,4.4,175g,Tostitos,Splash Of Lime
264833,2018-11-06,272,272379,270187,51,Doritos Mexicana 170g,2,8.8,170g,Doritos,Mexicana
264834,2018-12-27,272,272379,270188,42,Doritos Corn Chip Mexican Jalapeno 150g,2,7.8,150g,Doritos,Corn Chip Mexican Jalapeno
264835,2018-09-22,272,272380,270189,74,Tostitos Splash Of Lime 175g,2,8.8,175g,Tostitos,Splash Of Lime

In [ ]:
trans_df.isnull().sum()

DATE              0
STORE_NBR         0
LYLTY_CARD_NBR    0
TXN_ID            0
PROD_NBR          0
PROD_NAME         0
PROD_QTY          0
TOT_SALES         0
WEIGHT            0
BRAND             0
FLAVOR            0
dtype: int64

In [ ]:
trans_df.drop(columns=['PROD_NAME'], inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_23188\3166844902.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trans_df.drop(columns=['PROD_NAME'], inplace=True)

In [ ]:
trans_df

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_QTY,TOT_SALES,WEIGHT,BRAND,FLAVOR
0,2018-10-17,1,1000,1,5,2,6.0,175g,Natural Chip Company,Sea Salt
1,2019-05-14,1,1307,348,66,3,6.3,175g,CCs,Nacho Cheese
2,2019-05-20,1,1343,383,61,2,2.9,170g,Smiths,Crinkle Cut Chips Chicken
3,2018-08-17,2,2373,974,69,5,15.0,175g,Smiths,Thinly Cut S/Cream&Onion
4,2018-08-18,2,2426,1038,108,3,13.8,150g,Kettle,Tortilla Chips Honey & Jalapeno Chili
...,...,...,...,...,...,...,...,...,...,...
264831,2019-03-09,272,272319,270088,89,2,10.8,175g,Kettle,Sweet Chilli And Sour Cream
264832,2018-08-13,272,272358,270154,74,1,4.4,175g,Tostitos,Splash Of Lime
264833,2018-11-06,272,272379,270187,51,2,8.8,170g,Doritos,Mexicana
264834,2018-12-27,272,272379,270188,42,2,7.8,150g,Doritos,Corn Chip Mexican Jalapeno
264835,2018-09-22,272,272380,270189,74,2,8.8,175g,Tostitos,Splash Of Lime

In [ ]:
trans_df.dtypes

DATE              datetime64[ns]
STORE_NBR                  int64
LYLTY_CARD_NBR             int64
TXN_ID                     int64
PROD_NBR                   int64
PROD_QTY                   int64
TOT_SALES                float64
WEIGHT                    object
BRAND                     object
FLAVOR                    object
dtype: object

In [ ]:
print('Weights:\n')
print(trans_df['WEIGHT'].str.lower().unique())
print("\nNo. of unique values:", trans_df['WEIGHT'].str.lower().nunique(),'\n')
print('\nBrands:\n')
print(trans_df['BRAND'].str.lower().unique())
print("\nNo. of unique values:", trans_df['BRAND'].str.lower().nunique(),'\n')
print('\nFlavors:\n')
print(trans_df['FLAVOR'].str.lower().unique())
print("\nNo. of unique values:", trans_df['FLAVOR'].str.lower().nunique(),'\n')

Weights:

['175g' '170g' '150g' '300g' '330g' '210g' '270g' '220g' '125g' '110g'
 '134g' '380g' '180g' '165g' '135g' '250g' '200g' '160g' '190g' '90g'
 '70g']

No. of unique values: 21


Brands:

['natural chip company' 'ccs' 'smiths' 'kettle' 'old el paso'
 'grain waves' 'doritos' 'twisties' 'ww' 'thins' 'burger rings' 'ncc'
 'cheezels' 'infuzions' 'red rock deli' 'pringles' 'tyrrells' 'cobs'
 'woolworths' 'french fries' 'tostitos' 'cheetos' 'sunbites']

No. of unique values: 23


Flavors:

['sea salt' 'nacho cheese' 'crinkle cut chips chicken'
 'thinly cut s/cream&onion' 'tortilla chips honey & jalapeno chili'
 'salsa dip tomato mild' 'crinkle cuts salt & vinegar' 'sweet chilli'
 'corn chip mexican jalapeno' 'sour cream&chives'
 'sensations siracha lime' 'cheese' 'crinkle cut chicken' 'light & tangy'
 'original' 'burger rings' 'sour cream & garden chives'
 'corn chip southern chicken' 'cheese box' 'crinkle original'
 'corn crunchers tangy guacamole' 'sea salt and vinegar'
 'thinly cut cut original' 'thai chilli&lime' 'sthrn fried chicken'
 'sweet&spcy bbq' 'sr salsa & mozzarella' 'original salted'
 'sp salt & truffle' 'thinly sweet chilli & sour cream' 'chilli'
 'mexicana' 'crinkle cut french onion dip' 'honey soy chicken'
 'corn chip supreme' 'chicken' 'thinly cut roast chicken'
 'crinkle cut tomato salsa' 'mozzarella basil & pesto'
 'thai sweetchili potatomix' 'sensations camembert & fig'
 'crinkle cut mac n cheese' 'seasoned chicken'
 'crinkle cut salt & vinegar' 'bbq ribs prawn crackers'
 'plus beetroot & chilli jam' 'crisps lightly salted'
 'sweet chilli and sour cream' 'salsa medium' 'sweet potato sea salt'
 'sourcream onion' 'corn chips original' 'cheese burger'
 'salsa dip chunky tomato hot' 'popd sweet chilli & sour cream chips'
 'mild salsa' 'tomato herb & spice' 'crinkle cut chips original'
 'popd sea salt chips' 'crinkle cut chips cheese & onion' 'potato chips'
 'salsa dip tomato mediumium' 'corn chips cheese supreme'
 'original crisps' 'chilli& coconut' 'original corn chips' 'hot & spicy'
 'popd sour cream & chives chips' 'crinkle cut original big bag'
 'corn chips nacho cheese' 'sensations bbq&maple' 'd/style chip sea salt'
 'chicken salt crisps' 'original stacked chips'
 'thinly cut cutsalt & vinegar' 'lightly salted' 'salt & vinegar'
 'crinkle cut chips barbecue' 'puffs' 'sweet chilli & sour cream'
 'crinkle cut original' 'splash of lime' 'medium salsa'
 'tortilla chips beetroot & ricotta' 'tasty cheese' 'cheese rings'
 'smoked chipotle' 'barbeque' 'supreme cheese corn chips'
 'mystery flavour' 'crisps cheddar & chives'
 'whlgrn crisps cheddar & mustard' 'chs & bacon balls' 'salt vinegar'
 'sour cream & herbs veg strws' 'tortilla chips feta & garlic'
 'mango chutney papadums' 'steak & chimichurri'
 'wholegrain crisps french onion' 'cheese supreme'
 'crinkle cut snag&sauce' 'sour cream &onion stacked chips'
 'lime & pepper' 'sea salt & vinegar' 'chicken&garlic aioli'
 'slow roasted pork belly' 'crinkle cut bolognese' 'salsa mild']

No. of unique values: 108

## Merging Datasets

Now Both transaction data and customer data are ready to merge

In [ ]:
trans_df.columns

Index(['DATE', 'STORE_NBR', 'LYLTY_CARD_NBR', 'TXN_ID', 'PROD_NBR', 'PROD_QTY',
       'TOT_SALES', 'WEIGHT', 'BRAND', 'FLAVOR'],
      dtype='object')

In [ ]:
merged_df = pd.merge(trans_df, purchase_df, on='LYLTY_CARD_NBR', how='inner')

In [ ]:
merged_df

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_QTY,TOT_SALES,WEIGHT,BRAND,FLAVOR,LIFESTAGE,PREMIUM_CUSTOMER,AGE_GROUP,FAMILY_STATUS
0,2018-10-17,1,1000,1,5,2,6.0,175g,Natural Chip Company,Sea Salt,Young Singles/Couples,Premium,Young,Singles/Couples
1,2019-05-14,1,1307,348,66,3,6.3,175g,CCs,Nacho Cheese,Midage Singles/Couples,Budget,Midage,Singles/Couples
2,2018-11-10,1,1307,346,96,2,3.8,160g,WW,Original Stacked Chips,Midage Singles/Couples,Budget,Midage,Singles/Couples
3,2019-03-09,1,1307,347,54,1,2.1,175g,CCs,Original,Midage Singles/Couples,Budget,Midage,Singles/Couples
4,2019-05-20,1,1343,383,61,2,2.9,170g,Smiths,Crinkle Cut Chips Chicken,Midage Singles/Couples,Budget,Midage,Singles/Couples
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264830,2019-03-09,272,272319,270088,89,2,10.8,175g,Kettle,Sweet Chilli And Sour Cream,Young Singles/Couples,Premium,Young,Singles/Couples
264831,2018-08-13,272,272358,270154,74,1,4.4,175g,Tostitos,Splash Of Lime,Young Singles/Couples,Premium,Young,Singles/Couples
264832,2018-11-06,272,272379,270187,51,2,8.8,170g,Doritos,Mexicana,Young Singles/Couples,Premium,Young,Singles/Couples
264833,2018-12-27,272,272379,270188,42,2,7.8,150g,Doritos,Corn Chip Mexican Jalapeno,Young Singles/Couples,Premium,Young,Singles/Couples
264834,2018-09-22,272,272380,270189,74,2,8.8,175g,Tostitos,Splash Of Lime,Young Singles/Couples,Premium,Young,Singles/Couples

In [ ]:
merged_df.isnull().sum()

DATE                0
STORE_NBR           0
LYLTY_CARD_NBR      0
TXN_ID              0
PROD_NBR            0
PROD_QTY            0
TOT_SALES           0
WEIGHT              0
BRAND               0
FLAVOR              0
LIFESTAGE           0
PREMIUM_CUSTOMER    0
AGE_GROUP           0
FAMILY_STATUS       0
dtype: int64